<h1>Gráfica de Barras</h1>
<hr>

<div class="row">
  <div class="col">
    <div style="display: block">
      <canvas 
        baseChart
        [datasets]  = "barChartData"
        [labels]    = "barChartLabels"
        [options]   = "barChartOptions"
        [legend]    = "bartChartLegend"
        [chartType] = "barChartType"
      >
      </canvas>
    </div>
    <button 
      (click)="randomize()"
      class="btn btn-primary float-end mt-1"
    >
      Actualizar
    </button>
  </div>
</div>
